<div class="page-title">
    <div class="title">Chart of Accounts</div>
    <div class="sub-title">All Accounts</div>
</div>

<div class="card bg-white m-b">
    <div class="card-header">Accounts Table
        <!--<button type="button" class="btn pull-right" >
            <i class="glyphicon  glyphicon-list-alt"></i> New Journal</button>
            -->
        <!--<a ui-sref="app.journals.add" class="btn pull-right btn-primary btn-md btn-icon">
            <i class="icon-plus"></i>
            <span>New Account</span>
        </a>-->


        <button type="button" class="btn pull-right btn-primary btn-md btn-icon" data-toggle="modal" data-target="#newAccountModal">
        <i class="icon-plus"></i>
            <span>New Account</span>
         </button>

    </div>
    <div class="card-block p-a-0">
        <div class="table-responsive">
            <table class="table m-b-0">
                <thead>
                    <tr>
                        <th class="col-md-1"><b>ACCOUNT CODE</b></th>
                        <th class="col-md-1"><b>ACCOUNT NAME</b></th>
                        <th class="col-md-1"><b>ACCOUNT TYPE</b></th>
                        <th class="col-md-2"><b>ACCOUNT CLASSIFICATION</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in vm.accounts">
                        <td>{{a.acct_code}}</td>
                        <td>{{a.acct_name}}</td>
                        <td>{{a.acct_type_name}}</td>
                        <td>{{a.account_type_cla_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--New Account Type Modal-->
<div class="modal fade" id="newAccountModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form name="newAccountTypeForm" class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-minlength" role="form" ui-jq="validate" novalidate="novalidate">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create account</h4>
                </div>
                <br> <br>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-1">


                            <div class="form-group">
                                <div class="col-sm-3 control-label"><b>Account Type</b></div>
                                <div class="col-sm-9">
                                    <ui-select ng-model="vm.selectedAccount" title="Choose a account">
                                        <ui-select-match placeholder="Account">{{$select.selected.acct_type_name}}</ui-select-match>
                                        <ui-select-choices group-by="'account_type_cla_name'" repeat="account in vm.chartOfAccounts | filter: $select.search">
                                            <span ng-bind-html="account.acct_type_name | highlight: $select.search"></span>
                                            <!--<small ng-bind-html="account.acct_id | highlight: $select.search"></small>-->
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Account Name</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-minlength" required="" minlength="3" ng-model="vm.newAccount.acct_name" aria-required="true">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Account Code</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-minlength" required="" minlength="3" ng-model="vm.newAccount.acct_code" aria-required="true">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Description</b></label>
                                <div class="col-sm-9">
                                    <!--<input type="text" class="form-control input-rounded">-->
                                    <textarea name="" class="form-control input-rounded ng-pristine ng-untouched ng-valid ng-empty" id="" rows="3" ng-model="vm.newAccount.acct_description"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br> <br>
                    <br> <br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-disabled="newAccountTypeForm.$invalid" ng-click="vm.save()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>



    </div>
</div>